POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
MATERIAL_INGESTION_LOG_LEVEL=DEBUG
DEEPSEEK_API_KEY=
MATERIAL_INGESTION_DOWNLOAD_MAX_RETRIES=4
MATERIAL_INGESTION_DOWNLOAD_BACKOFF_BASE_SECONDS=1.0
MATERIAL_INGESTION_DOWNLOAD_BACKOFF_MAX_SECONDS=20.0
MATERIAL_INGESTION_DOWNLOAD_JITTER_SECONDS=0.25
MATERIAL_INGESTION_DOWNLOAD_REQUEST_DELAY_SECONDS=0.0
MATERIAL_INGESTION_PREFERRED_LANGUAGES=en,english
